
<style>
    body{
        background: white;
    }
    .comment {
    padding: 1%;
    margin-bottom: 1%;
    }

    .comment:nth-child(odd) {
    background-color: #b8d8fd;
    }

    .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
    }
</style>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#B0DDEC; color: darkslategray;">
        <ul class="nav justify-content-end font-monospace">
            <li class="nav-item">
                <a class="nav-link" href="/dash">MyCipe</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/create">Create</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/my">My Recipes</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
                <a class="nav-link" id="logout" href="/">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
            {{/if}}
        </ul>
    </nav>
    <div class="container">
        </br>
        <div class="row justify-content-center font-monospace border border-dark"
            style="background-color: #B0ECE3; font-size: 25px">
            Welcome to MyCipe
        </div>
    </div>
    <div class="container justify-content-center">
        </br>
        {{#each recipes as |recipe|}}
        <div class="row font-monospace" style="text-align:center">
            <div class="col-sm-2" style="background-color: #B0ECE3;">
                <a href="/recipe/{{ id }}">{{ title }}</a>
            </div>
            <div class="col-sm-7" style="background-color: #B0DDEC; font-size:smaller">{{ recipe_text }}</div>
            <div class="col-sm-3" style="background-color: #B0ECE3;">Chef: {{ user.username }}</div>
        </div>
        </br>
        {{/each}}
    </div>
    
{{!-- <script src="./javascript/add-recipe.js"></script> --}}

