
<style>
    body{
        background: white;
    }
    .comment {
    padding: 1%;
    margin-bottom: 1%;
    }

    .comment:nth-child(odd) {
    background-color: #b8d8fd;
    }

    .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
    }
    .pic {
        max-height: 30px;
    }
</style>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#B0DDEC; color: darkslategray;">
      {{> nav}}  
    </nav>
        <div class="container">
            </br>
            <div class="row justify-content-center font-monospace border border-dark"
                style="background-color: #B0ECE3; font-size: 25px">
                My Recipes
            </div>
        </div>
    
    <div class="container justify-content-center">
        </br>
        {{#if recipes.length}}
        {{#each recipes as |recipe|}}
        <div class="row font-monospace" style="text-align:center">
            <div class="col-sm-2" style="background-color: #B0ECE3;">
                <a href="/recipe/{{ id }}">{{ title }}</a>
            </div>
            <div class="col-sm-7" style="background-color: #B0DDEC; font-size:smaller">{{ recipe_text }}</div>
            <div class="col-sm-3" style="background-color: #B0ECE3;">Created on {{ format_date recipe.created_at }}</div>
        </div>
        </br>
        {{/each}}
        {{else}}
        <div class="row font-monospace" style="text-align:center">
            <div class="col-sm-12" style="background-color: #B0DDEC; font-size:medium"><a href="/create">Add Your Recipes Here</a></div>
        </div>
        {{/if}}
        </br>
        </br>
        <div class="row font-monospace" style="text-align:center">
            <div class="col-sm-12" style="background-color: #B0ECE3;">
                {{!-- <button id="recipeBtn">Click for Tonight's Cocktail!</button> --}}
                Tonight's Suggested Cocktail
            </div>
        </div>
        </br>
        <div class="row font-monospace" style="text-align:center">
            <div class="col-sm-12" style="background-color: #94cfff; font-size:medium; font-weight:bold;">
                <div id="drinkTitle"></div>
            </div>
        </div>
        <div class="row font-monospace" style="text-align:center">
            <div class="col-sm-4" style="background-color: #B0ECE3; font-size:smaller">
                <img src="" class="is-border-primary" height="400px" id="pic" />
            </div>
            <div class="col-sm-3" style="background-color: #B0DDEC; font-size:smaller">
                <div id="drinkIngredient1"></div>
                <div id="drinkIngredient2"></div>
                <div id="drinkIngredient3"></div>
                <div id="drinkIngredient4"></div>
                <div id="drinkIngredient5"></div>
                <div id="drinkIngredient6"></div>
                <div id="drinkIngredient7"></div>
                <div id="drinkIngredient8"></div>
                <div id="drinkIngredient9"></div>
                <div id="drinkIngredient10"></div>
            </div>
            <div class="col-sm-5" style="background-color: #B0ECE3;">
                <div id="drinkDescription"></div>
            </div>
        </div>
    </div>


<script src="/javascript/cocktail.js"></script>

