    <link rel="stylesheet" href="/stylesheets/single-page.css">
    
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#B0DDEC; color: darkslategray;">
        {{> nav}}  
    </nav>
    <article class="recipe">
        <div class="container">
                </br>
                <div class="row justify-content-center font-monospace border border-dark"
                    style="background-color: #B0ECE3; font-size: 25px">
                    {{ recipe.title }}
                </div>
                <div class="row">
                    <div class="col-sm-2">Created by Chef {{ recipe.user.username }}</div>
                <div class="col-sm-10">on {{ format_date recipe.created_at }}</div>
                </div>
        </div>
        <div class="container justify-content-center">
            </br>
            <div class="row font-monospace" style="text-align:center">
                <div class="col-sm-12" style="background-color: #B0DDEC; font-size:smaller">{{ recipe.recipe_text }}</div>
            </div>
            </br>
            <div class="row font-monospace" style="text-align:center">
                {{!-- <div class="col-sm-5" style="background-color: #B0ECE3;">Ingredients: {{#each split_string recipe.ingredients_text}}<br />{{split_string recipe.ingredients_text }}{{/each}}</div> --}}
                <div class="col-sm-5" style="background-color: #B0ECE3;">Ingredients: <br /> {{ recipe.ingredients_text }}</div>
                <div class="col-sm-7" style="background-color: #B0DDEC; font-size:smaller">Directions: <br />{{ recipe.directions_text }}</div>
            </div>
            
            </br>
            {{#if loggedIn}}
            <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button type="submit">add comment</button>
                </div>
            </form>
            {{/if}}
            <div class="comments">
                {{#each recipe.comments}}
                <section class="comment">
                    <div class="meta">
                    {{user.username}} on {{format_date created_at}}
                    </div>
                    <div class="text">
                    {{comment_text}}
                    </div>
                </section>
                {{/each}}
            </div>
        </div>
    </article>

  {{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  {{/if}}
    
    
{{!-- <script src="./javascript/add-recipe.js"></script> --}}